/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-body: #040924;
    --tt-heading: #0c3440;
    --tt-label: #00453a;
    --tt-input: #212529;
    --ot-input: #027990;
    --bd-input: rgba(73, 80, 87, 0.3);
    --tt-placeholder: rgba(73,80,87, 0.5);
    --tt-button: #fff;
    --bg-button: #02799d;
    --bg-button-hover: #204b58;
    --bg-error: #f03e3e;
    --tt-error: #fff;
    --bg-input: dce2e9;
}

/* Page style */

body {
    background-color: var(--bg-body);

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    place-content: center;
}

.card {
    background-color: var(--tt-button);
    max-width: 42.8rem ;
    padding: 4.8rem 6.4rem 6.4rem;
    margin-inline: auto;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
    border-radius: 0.6rem;
}

.title {
    color: var(--tt-heading);
    font-size: 3.2rem;
    line-height: 4rem;
}

form {
    width: 30rem;
}

form h1 {
    margin-bottom: 3.2rem;
}

form label {
    color: var(--tt-label);
    font-size: 1.4rem;
    line-height: 1.8rem;
    
    display: block;
    margin-bottom: .8rem;
}

form input {
    width: 100%;
    border: 1px solid var(--bd-input);
    background-color: var(--bg-input);
    padding: 1.6rem;
    border-radius: .4rem;
}

form input:focus {
    outline: 2px solid var(--ot-input)
}

form input::placeholder {
    color: var(--tt-placeholder)
}

.inputWrapper + .inputWrapper {
    margin-top: 1.6rem;
}

body, input, button {
    font-size: 1.6rem;
}

/* form */

form button {
    background-color: var(--bg-button);
    margin-top: 3.2rem;
    padding: 1.6rem;
    width: 100%;
    border: none;
    border-radius: .4rem;

    color: var(--tt-button);
    font-weight: bold;
    line-height: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    cursor: pointer;
    transition: background .3s;
}

form button:hover {
    background-color: var(--bg-button-hover);
}


/* Modals */
.modalWrapper {
    background-color: rgba(0,0,0, 0.7);
    
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
}

.modalWrapper.open {
    opacity: 1;
    visibility: visible;
}


.modal button {
    background-color: none;
    border: none;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    cursor: pointer;
    transition: transform .3s;
}

.modal button:hover {
    transform: scale(1.1);
}

/* Error */

.alertError.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.alertError {
    background-color: var(--bg-error);
    visibility: hidden;
    opacity: 0;
    padding: .8rem 0;
    
    color: var(--tt-error);
    text-align: center;
    font-weight: bold;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    transform: translateY(-30px);
    transition: transform .7s;
}

